_ReSharper.*/*
_ReSharper.*/**/*
_ReSharper.*
*.resharper.user
*.suo
src/**/obj
src/**/obj/*
src/**/obj/**/*
src/**/bin/*
src/**/bin
src/**/bin/*
src/**/bin/**/*
*~HEAD
**/*~HEAD
logs
ndepend
log-file.txt
src/**/Bin/*
src/**/Bin
src/**/Bin/*
src/**/Bin/**/*
.idea\**

*.user
*.cache
/.idea/**
build/spec/report.html